{# Asi se define una variable en twig y esta sintaxis es la correcta para los comentarios #}
{% set num = '888' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina con twig</title>
</head>
<body>
    <h1>Hola {{ name }}, {{ saludo }}</h1>

    <h2 style="color:red">{{ vista }}</h2>

    <h3> Numero: {{ num }}</h3>
    
</body>
</html>